{% extends 'GravityNodeBundle:ContentType:edit.html.twig' %}
{% set selected_tab = 'form' %}
{% set page_modules = ['cms/node/type/form_view'] %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#">Fields</a></li>
    <li><a href="#">{{ field.label }}</a></li>
    <li class="active">{{ field.viewWidget.label }}</li>
{% endblock %}

{% block tab %}

    <h3>Change {{ field.label }} Widget</h3>

    {% form_theme form 'GravityNodeBundle:ContentType:Fields/form.html.twig' %}
    {{ form_start(form) }}
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa-save"></i> Save
        </button>
    {{ form_end(form) }}

{% endblock %}
