{% extends 'GravityTagBundle:Tag:base.html.twig' %}
{% set page_modules = ['cms/tag/tag/form'] %}

{% block breadcrumbs %}
    {{ parent() }}
    {% if parentTag %}
        <li><a href="{{ url('gravity_admin_tag_edit', {id: parentTag.id}) }}">{{ parentTag.name|title }}</a></li>
    {% endif %}
    <li><a href="{{ url('gravity_admin_tag_new') }}">Create</a></li>
{% endblock %}

{% block page_icon %}
    <i class="page-header-icon fa-plus"></i>
{% endblock %}

{% block page_title %}
    New {% if parentTag %}{{ parentTag.name|title }}{% endif %} Tag
{% endblock %}

{% block page_desc %}
    Create a new {% if parentTag %}{{ parentTag.name|lower }}{% endif %} tag
{% endblock %}

{% block plugin %}
    {{ include('GravityTagBundle:Tag:form.html.twig') }}
{% endblock %}
